	<div class="row" ng-show="user.type === 0">
		<p>Use Your Monthly pass</p>
		<p>What type of transport?</p>
		<select ng-model="transportSelect" ng-options="item as item.name for item in modeOfTransport"> </select>

		<button>Use Pass</button>
	</div>

	<div class="row" ng-show="user.type === 1">
		<p>Use Your Prepaid pass</p>
		<p>What type of transport?</p>
		<select ng-model="transportSelect" ng-options="item.id as item.name for item in modeOfTransport"> </select>
		{{discount}}

		<p>Total {{transportSelect.price | discount: discount | currency}}</p>

		<button>Use Pass</button>
		<button ng-click="checkBalance()">Check Balance</button>
		<p ng-show="showBal">Balance : {{user.balance}}</p>
	</div>